p{
    background-color: aquamarine;
    color: black;
}
h3{
    color:red;
}
h2{
    background-color: aliceblue;
}
img{
    display: block;
    margin: 20px auto;
    background-color: cadetblue;
   
}